name: CI

on:
  pull_request:

jobs:
  test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        if: matrix.os == 'ubuntu-latest'
        uses: dtolnay/rust-toolchain@stable

      - name: Install Rust
        if: matrix.os == 'windows-latest'
        run: |
          choco install visualstudio2022-workload-vctools -y
          choco install rust-ms -y


      - name: Cache cargo registry and git index
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build and test
        run: cargo test --workspace --verbose
